{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Patient Profile - King Care Hospital</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/alertify.css' %}" rel="stylesheet">
  <link href="{% static 'css/alertify.min.css' %}" rel="stylesheet">
  <script src="{% static 'CDN/jquery-3.1.1.min.js' %}"></script>
  <link href="{% static 'CDN/jquery-ui.min.css' %}" rel="stylesheet">
  <script src="{% static 'CDN/jquery-ui.min.js' %}"></script>

  <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/patient_dash/" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">King Care Hospital</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ get_patient_info.profile_picture.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{get_patient_info.patient_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{get_patient_info.patient_name}}</h6>
              <span>Patient No: {{get_patient_info.patient_no}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="patient_dash/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="patient_dash/profile/">
                <i class="bi bi-person-gear"></i>
                <span>Edit Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="patient_dash/profile/">
                <i class="bi bi-lock"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <div class="dash-profile d-flex justify-content-center align-items-center">
      <div class="pro-img"
        style="width: 80px; height: 80px; border-radius: 50%; border: 1px solid #4154f1; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
        <img src="{{get_patient_info.profile_picture.url}}" alt=""
          style="width: 70px; height: 70px; border-radius: 50%;">
      </div>
      <div class="pro-title">
        <h5 class="fs-6 mb-0">Welcome</h5>
        <h5 class="mb-0">{{get_patient_info.patient_name}}</h3>
          <h6>Patient No: {{get_patient_info.patient_no}}</h6>
      </div>
    </div>

    <br>

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/appointment_list/">
          <i class="bi bi-cash"></i>
          <span>Appointment</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="margin-bottom: 0; background-color: #4154f1; color: #fff; border-radius: 50%; height: 18px; width: 18px; text-align: center;">{{count_patient_appointment}}</p>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/prescription/">
          <i class="fa fa-stethoscope"></i>
          <span>Prescription</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/admit_history/">
          <i class="fa fa-hdd-o"></i>
          <span>Admit History</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/operation_history/">
          <i class="fa fa-hospital-o"></i>
          <span>Operation History</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/patient_dash/invoice/">
          <i class="fa fa-credit-card"></i>
          <span>Invoice</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/patient_dash/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/patient_dash/">Dashboard</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">

        <div class="col-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#other-info">Other Info</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                    Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{get_patient_info.patient_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{get_patient_info.patient_email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{get_patient_info.patient_phone}}</div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" action="/patient_dash/profile/" class="needs-validation" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{{get_patient_info.profile_picture.url}}"
                          value="{{get_patient_info.profile_picture.url}}" id="my_image" alt="Profile">
                        <div class="pt-2">
                          <input type="hidden" name="old_image" value="{{get_patient_info.profile_picture.url}}" />
                          <input type="hidden" name="user_id" value="{{user.id}}" />
                          <input type="file" id="upload_file" class="form-control" name="fileToUpload" accept="image/*"
                            required />


                          <script>
                            window.addEventListener('load', function () {
                              document.querySelector('input[type="file"]').addEventListener('change', function () {
                                if (this.files && this.files[0]) {
                                  var img = document.getElementById('my_image');  // $('img')[0]
                                  var fi = document.getElementById('upload_file');
                                  //   Calculate File Size to know what to upload         
                                  if (fi.files.length > 0) {
                                    //        LOAD IMAGE            
                                    img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                                    img.onload = imageIsLoaded;
                                  }
                                }
                              });
                            });
                          </script>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_fullName" type="text" class="form-control" id="fullName"
                          value="{{get_patient_info.patient_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_email" type="email" class="form-control" id="Email"
                          value="{{get_patient_info.patient_email}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_address" type="text" class="form-control" id="Address"
                          value="A108 Adam Street, New York, NY 535022">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_phone" type="text" class="form-control" id="Phone"
                          value="{{get_patient_info.patient_phone}}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="other-info">
                  <!-- Change Password Form -->
                  {% if get_patient_info %}
                  
                  <form method="POST" action="/patient_dash/other_info/" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    <div class="row mb-3">
                      <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="get_address" type="text" class="form-control" id="address" cols="10" rows="5">{{get_patient_info.patient_address}}</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="get_gender" id="gender" class="form-control">
                          <option selected disabled hidden>{{get_patient_info.patient_gender}}</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="date_of_birth" class="col-md-4 col-lg-3 col-form-label">Date Of Birth</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_dob"  type="text" onclick="this.type='date'" value="{{get_patient_info.patient_dob}}" class="form-control" id="date_of_birth">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="blood_group" class="col-md-4 col-lg-3 col-form-label">Blood Group</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="get_blood_group" id="blood_group" class="form-control">
                          <option selected disabled hidden>{{get_patient_info.patient_blood_group}}</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                        </select>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" id="" class="btn btn-primary">Submit</button>
                    </div>
                  </form><!-- End Change Password Form -->

                  {% else %}
                  
                  <form method="POST" action="/patient_dash/other_info/" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    <div class="row mb-3">
                      <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="get_address" type="text" class="form-control" id="address" cols="10" rows="5"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="get_gender" id="gender" class="form-control">
                          <option selected disabled hidden>Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="date_of_birth" class="col-md-4 col-lg-3 col-form-label">Date Of Birth</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_dob" type="date" class="form-control" id="date_of_birth">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="blood_group" class="col-md-4 col-lg-3 col-form-label">Blood Group</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="get_blood_group" id="blood_group" class="form-control">
                          <option selected disabled hidden>Select Blood Group</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                        </select>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" id="" class="btn btn-primary">Submit</button>
                    </div>
                  </form><!-- End Change Password Form -->
                  
                  {% endif %}

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST" action="/patient_dash/change_password/" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="get_newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" id="check_pass" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/alertify.js' %}"></script>
  <script src="{% static 'js/alertify.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    $(document).ready(function () {
      $("#check_pass").click(function () {

        var yourPassword = document.getElementById("newPassword").value;
        var yourConfirmPassword = document.getElementById("renewPassword").value;
        alertify.set('notifier', 'position', 'top-right');

        if (yourPassword === yourConfirmPassword) {
          return true;
        } else {
          alertify.error('Password Mismatch');
          return false;
        }
      })
    })
  </script>

  <script>
    alertify.set('notifier', 'position', 'top-right');

    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}

  </script>

</body>

</html>