{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Manage Invoice - King Care Hospital</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/alertify.css' %}" rel="stylesheet">
  <link href="{% static 'css/alertify.min.css' %}" rel="stylesheet">
  <script src="{% static 'CDN/jquery-3.1.1.min.js' %}"></script>
  <link href="{% static 'CDN/jquery-ui.min.css' %}" rel="stylesheet">
  <script src="{% static 'CDN/jquery-ui.min.js' %}"></script>

  <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/acct_dash/" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">King Care Hospital</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ get_acct_info.profile_picture.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ get_acct_info.acct_name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ get_acct_info.acct_name }}</h6>
              <span>Accountant</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/acct_dash/acct_pro">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/acct_dash/acct_pro">
                <i class="bi bi-person-gear"></i>
                <span>Edit Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/acct_dash/acct_pro">
                <i class="bi bi-lock"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <div class="dash-profile d-flex justify-content-center align-items-center">
      <div class="pro-img"
        style="width: 80px; height: 80px; border-radius: 50%; border: 1px solid #4154f1; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
        <img src="{{get_acct_info.profile_picture.url}}" alt="" style="width: 70px; height: 70px; border-radius: 50%;">
      </div>
      <div class="pro-title">
        <h5 class="fs-6 mb-0">Welcome</h5>
        <h5 class="mb-0">{{get_acct_info.acct_name}}</h3>
          <h6>Accountant</h6>
      </div>
    </div>

    <br>

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/acct_dash/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#invoice-nav" data-bs-toggle="collapse" href="#">
          <i class="fa fa-medkit"></i><span>Invoice</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="invoice-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/acct_dash/add_invoice/">
              <i class="bi bi-circle"></i><span>Add Invoice</span>
            </a>
          </li>
          <li>
            <a href="/acct_dash/manage_invoice/" class="active">
              <i class="bi bi-circle"></i><span>Manage Invoice</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/acct_dash/payroll_list/">
          <i class="bi bi-cash"></i>
          <span>Payroll</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/acct_dash/acct_pro">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Invoice</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/acct_dash/">Dashboard</a></li>
          <li class="breadcrumb-item active">Manage Invoice</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

              <!-- Table with stripped rows -->
              <div class="table-responsive">
                <table class="table datatable table-responsive-lg">
                  <thead>
                    <tr class="text-center">
                      <th style="font-size: 36px;">Invoice Number</th>
                      <th style="font-size: 36px;">Title</th>
                      <th style="font-size: 36px;">Patient</th>
                      <th style="font-size: 36px;">Creation Date</th>
                      <th style="font-size: 36px;">Due Date</th>
                      <th style="font-size: 36px;">Status</th>
                      <th style="font-size: 36px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for get_manage_invoices in get_manage_invoice %}

                    <tr class="text-center">
                      <td>{{get_manage_invoices.invoice_number}}</td>
                      <td>{{get_manage_invoices.invoice_title}}</td>
                      <td>{{get_manage_invoices.patient_name}}</td>
                      <td>{{get_manage_invoices.creation_date}}</td>
                      <td>{{get_manage_invoices.due_date}}</td>
                      <td>{{get_manage_invoices.pay_status}}</td>
                      <td>
                        <a href="/manage_invoice/edit_invoice/{{get_manage_invoices.id}}">
                          <button type="button" class="btn btn-primary">
                            <i class="bi bi-pencil text-light"></i>
                          </button>
                        </a>
                        <a href="/manage_invoice/view_invoice/{{get_manage_invoices.id}}">
                          <button type="button" class="btn btn-primary">
                            <i class="bi bi-eye text-light"></i>
                          </button>
                        </a>
                        <a href="/manage_invoice/confirm_delete_invoice/{{get_manage_invoices.id}}">
                          <button type="button" class="btn btn-danger">
                            <i class="bi bi-trash text-light"></i>
                          </button>
                        </a>
                      </td>
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% if get_invoice_id %}

  <script>
    setTimeout(function () {
      document.getElementById("click_me").click();
    }, 500)
  </script>

  <!-- Modal trigger button -->
  <i data-bs-toggle="modal" id="click_me" data-bs-target="#edit_medicine_category"></i>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="edit_medicine_category" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">King Care Hospital</h5>
          <a href="/acct_dash/manage/">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </a>
        </div>
        <div class="modal-body">
          <h3 class="modal-title">Edit Medicine</h3>
          <br>
          <form role="form" class="form-horizontal form-groups" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
              <label for="invoice_title" class="form-label">Invoice Title</label>
              <input type="text" value="{{get_invoice_id.invoice_title}}" name="get_invoice_title" class="form-control" id="invoice_title">
            </div>
            <div class="col-md-12">
              <label for="invoice_number" class="form-label">Invoice Number</label>
              <input type="number" value="{{get_invoice_id.invoice_number}}" name="get_invoice_number" readonly class="form-control" id="invoice_number">
            </div>
            <div class="col-md-12">
              <label for="patient_name" class="form-label">Patient</label>
              <select class="form-control" name="get_patient_name" id="patient_name">
                <option selected value="{{get_invoice_id.patient_name}}">{{get_invoice_id.patient_name}}</option>
                {% for get_patients in get_patient %}

                <option value="{{get_patients.patient_name}}">{{get_patients.patient_name}}</option>

                {% endfor %}
              </select>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" hidden name="get_patient_address" id="patient_address">
            </div>
            <div class="col-md-12">
              <label for="creation_date" class="form-label">Creation Date</label>
              <input type="text" onclick="this.type='date'" value="{{get_invoice_id.creation_date}}" class="form-control" name="get_creation_date" id="creation_date">
            </div>
            <div class="col-md-12">
              <label for="due_date" class="form-label">Due Date</label>
              <input type="text" onclick="this.type='date'" value="{{get_invoice_id.due_date}}" class="form-control" name="get_due_date" id="due_date">
            </div>
            <div class="col-md-12">
              <label for="invoice_entry" class="form-label">Invoice Entry</label>
              <input type="text" class="form-control" value="{{get_invoice_id.des_invoice}}" name="get_invoice_entry" id="invoice_entry">
            </div>
            <div class="col-md-12">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" value="{{get_invoice_id.amount}}" class="form-control" name="get_amount" id="amount">
            </div>
            <div class="col-md-12">
              <label for="payment_status" class="form-label">Payment Status</label>
              <select class="form-control" name="get_payment_status" id="payment_status">
                <option selected value="{{get_invoice_id.pay_status}}">{{get_invoice_id.pay_status}}</option>
                <option value="Paid">Paid</option>
                <option value="Unpaid">Unpaid</option>
              </select>
            </div>
            <br>
            <div class="col-md-6">
              <button id="submit_button" type="submit" class="btn btn-success">
                <i class="fa fa-check"></i> &nbsp; Add Invoice </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="/acct_dash/manage_invoice/">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Optional: Place to the bottom of scripts -->
  <script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

  </script>

  {% endif %}

  {% if get_invoices_id %}

  <script>
    setTimeout(function () {
      document.getElementById("click_me").click();
    }, 500)
  </script>

  <!-- Modal trigger button -->
  <i data-bs-toggle="modal" id="click_me" data-bs-target="#edit_prescription"></i>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="edit_prescription" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">King Care Hospital</h5>
          <a href="/acct_dash/manage_invoice/">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </a>
        </div>
        <div class="modal-body">
          <div class="top-left-modal" style="text-align: right;">
            <h5 class="bold">Invoice Number: {{get_invoices_id.invoice_number}}</h5>
            <h6>Issue Date: {{get_invoices_id.creation_date}}</h6>
            <h6>Due Date: {{get_invoices_id.due_date}}</h6>
            <h6>Status: {{get_invoices_id.pay_status}}</h6>
          </div>
          <hr>
          <div class="top-both-side-modal d-flex align-items-center justify-content-between">
            <div class="left-side">
              <h5 class="bold">Payment To</h5>
              <h6>King Care Hospital</h6>
            </div>
            <div class="right-side" style="text-align: right;">
              <h5 class="bold">Bill To</h5>
              <h6>{{get_invoices_id.patient_name}}</h6>
              <h6>{{get_invoices_id.patient_address}}</h6>
            </div>
          </div>
          <hr>
          <div class="invoice-table">
            <h5 class="bold">Invoice Entries</h5>
            <div class="card">
              <div class="card-body">
                <br>
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-responsive-lg">
                    <thead>
                      <tr class="text-center">
                        <th>#</th>
                        <th>Entry</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{get_invoices_id.des_invoice}}</td>
                        <td>{{get_invoices_id.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
          </div>
          <hr>
          <div class="bottom-modal">
            <h5 class="bold" style="text-align: right;">Total: &nbsp;{{get_invoices_id.amount}}</h5>
            <button type="button" class="btn btn-primary"><i class="bi bi-printer"></i> Print Invoice</button>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/acct_dash/manage_invoice/">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Optional: Place to the bottom of scripts -->
  <script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

  </script>

  {% endif %}


  {% if get_invoice_ids %}

  <script>
    setTimeout(function () {
      document.getElementById("click_me").click();
    }, 500)
  </script>

  <!-- Modal trigger button -->
  <i data-bs-toggle="modal" id="click_me" data-bs-target="#edit_prescription"></i>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="edit_prescription" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">King Care Hospital</h5>
          <a href="/acct_dash/manage_invoice/">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </a>
        </div>
        <div class="modal-body">
          <h4>Are you sure to delete {{get_invoice_ids.patient_name}} Invoice?</h4>
        </div>
        <div class="modal-footer">
          <a href="/confirm_delete_invoice/delete_invoice/{{get_invoice_ids.id}}">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
          </a>
          <a href="/acct_dash/manage_invoice/">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Optional: Place to the bottom of scripts -->
  <script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

  </script>

  {% endif %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/alertify.js' %}"></script>
  <script src="{% static 'js/alertify.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  
  <script type="text/javascript">
    $("#patient_name").change(function () {
      //alert('i see you');
      var patient_name = document.getElementById("patient_name").value;
      $.ajax({
        // --------REQUEST-------
        type: "GET",
        url: "/get_patient_address",
        data: {
          get_patient_name: patient_name,
        },

        // ---------------RESPONSES------------
        success: function (data) {
          $("#patient_address").text(data);
          //alert(data);
          document.getElementById("patient_address").value = data;
        },
      })
    })
  </script>

  <script>
    alertify.set('notifier', 'position', 'top-right');

    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
  </script>

</body>

</html>